:root {
    --azul-mas-claro: #114982;
    --azul-claro: #0a2f54;
    --fondo-logotipo: #05192d;
    --azul-oscuro: #041424;
    --azul-mas-oscuro: #020a12;

}

body {
    font-family: 'Akshar', sans-serif;
}

