.portada {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.portada img {
    width: 50%;
    margin-top: 10px;
}

.portada h1 {
    font-family: 'Water Brush', cursive;
    font-size: 70px;
}

.galeria {
    display: flex;
    flex-direction: column;
}

.galeria h2 {
    font-family: 'Water Brush', cursive;
    font-size: 50px;
    margin-left: 40px;
}

.items-galeria {
    display: flex;
    flex-wrap: wrap;
}

.item-galeria img {
    max-width: 30%;
}